################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcmeAccountingSystems/.vs/AcmeAccountingSystems/FileContentIndex/b3d422e3-b974-46ef-9703-9221fce84934.vsidx
/AcmeAccountingSystems/.vs/AcmeAccountingSystems/FileContentIndex/d248eaae-da82-4225-a00a-bb197e551ce1.vsidx
/VariablesAndDataTypes/.vs/VariablesAndDataTypes/FileContentIndex/b4538587-c17c-494e-993a-eb328e413645.vsidx
/AcademyOfLearningCareerCollege/.vs/AcademyOfLearningCareerCollege
/MathAndComparisonOperators/.vs/MathAndComparisonOperators/FileContentIndex/6fea1fe6-bcae-4611-8b06-de429a600e0a.vsidx
/MathConsoleApp/.vs/MathConsoleApp/FileContentIndex/eb6bd8d9-887a-446f-a1b5-d76278b0d4e1.vsidx
