################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcmeAccountingSystems/.vs/AcmeAccountingSystems/FileContentIndex/b3d422e3-b974-46ef-9703-9221fce84934.vsidx
/AcmeAccountingSystems/.vs/AcmeAccountingSystems/FileContentIndex/d248eaae-da82-4225-a00a-bb197e551ce1.vsidx
/VariablesAndDataTypes/.vs/VariablesAndDataTypes/FileContentIndex/b4538587-c17c-494e-993a-eb328e413645.vsidx
/AcademyOfLearningCareerCollege/.vs/AcademyOfLearningCareerCollege
/MathAndComparisonOperators/.vs/MathAndComparisonOperators/FileContentIndex/6fea1fe6-bcae-4611-8b06-de429a600e0a.vsidx
/MathConsoleApp/.vs/MathConsoleApp/FileContentIndex/eb6bd8d9-887a-446f-a1b5-d76278b0d4e1.vsidx
/SalaryComparison/.vs/SalaryComparison/FileContentIndex/313948a3-987f-45c3-ba7f-fdecc1c7ba06.vsidx
/BooleanLogic/.vs/BooleanLogic/FileContentIndex/1a2d625c-3395-46cc-8156-327acba466f1.vsidx
/CarInsuranceApproval/.vs/CarInsuranceApproval/FileContentIndex/d154d464-9b9b-4b34-a863-da93cecfd079.vsidx
/Branching/.vs/Branching/FileContentIndex/e2d9bc1d-6f80-48ac-80d2-3c9a3579c245.vsidx
/PackageQuoteApp/.vs/PackageQuoteApp/FileContentIndex/45971c1d-3b09-46b1-bbc2-9155a511d857.vsidx
/Loops/.vs/Loops/FileContentIndex/55abb241-7dfc-4f09-bb15-904d7f22878a.vsidx
/WhileConsoleApp/.vs/WhileConsoleApp/FileContentIndex/9b985785-1f74-4e1c-8165-38004cc35053.vsidx
/StringFunctions/.vs/StringFunctions/FileContentIndex/4c593054-0780-4893-b840-48d3658660be.vsidx
/StringConsoleApp/.vs/StringConsoleApp/FileContentIndex/82e54569-2015-430b-af72-8c2df8951f9a.vsidx
/ArraysAndLists/.vs/ArraysAndLists/FileContentIndex
/ArrayAssignment/.vs/ArrayAssignment/FileContentIndex/7dace5cd-f901-4de4-be33-da1a3609cf51.vsidx
/Iteration/.vs/Iteration/FileContentIndex/25d685bd-5bb1-470c-9d6e-8be75b6e916d.vsidx
/IterationAssignment/.vs/IterationAssignment/FileContentIndex/51d3c587-c63f-40fd-9efa-795aded2f9c7.vsidx
/ExceptionHandling/.vs/ExceptionHandling/FileContentIndex/0991425f-37be-445e-acd8-9f08a74a4c7c.vsidx
/StringsAndIntegersAssignment/.vs/StringsAndIntegersAssignment/FileContentIndex/93f36ab3-90b6-4bc9-9603-36ce4209c395.vsidx
/TwentyOne/.vs/TwentyOne/FileContentIndex/88fb8c95-3068-4062-bbe7-af552ccf6483.vsidx
/TwentyOne/.vs/TwentyOne/FileContentIndex/9bb2c967-0e58-43dc-9227-09cfcb4a1f98.vsidx
/TwentyOne/.vs/TwentyOne/FileContentIndex/bab1c424-c47b-4b02-bbc7-12a2c793dc06.vsidx
/CallingMethodsAssignment/.vs/CallingMethodsAssignment/FileContentIndex/18867f82-ee9e-4596-b234-4bdc555895e2.vsidx
/CallingMethodsAssignment/.vs/CallingMethodsAssignment/FileContentIndex/3c2dba9f-a35f-44ae-a919-2821f12fd611.vsidx
/CallingMethodsAssignment/.vs/CallingMethodsAssignment/FileContentIndex
/CallingMethodsAssignment/.vs/CallingMethodsAssignment/v17
/TwentyOne/.vs/TwentyOne/FileContentIndex/9a18433d-a7ab-42f0-ab1e-e7fd3150a648.vsidx
/TwentyOne/.vs/TwentyOne/FileContentIndex/ca6094ec-09b2-4da3-8fe1-c358399a6f97.vsidx
/MainMethodAssignment/.vs/MainMethodAssignment/FileContentIndex
/MethodAssignment/.vs/MethodAssignment/FileContentIndex
/MethodClassAssignment/.vs/MethodClassAssignment/FileContentIndex
/TwentyOne/.vs/TwentyOne/FileContentIndex
/ClassMethodAssignment/.vs/ClassMethodAssignment/FileContentIndex
/MethodsAndObjectsAssignment/.vs/MethodsAndObjectsAssignment/FileContentIndex
/AbstractClassAssignment/.vs/AbstractClassAssignment/FileContentIndex/17d8c4f1-c3b0-4d96-bd6b-923d434fb1d1.vsidx
/AbstractClassAssignment/.vs/AbstractClassAssignment/FileContentIndex
/PolymorphismAssignment/.vs/PolymorphismAssignment/FileContentIndex
/OperatorsAssignment/.vs/OperatorsAssignment/FileContentIndex
/ParametersAssignment/.vs/ParametersAssignment/FileContentIndex
/ParsingEnumsAssignment/.vs/ParsingEnumsAssignment/FileContentIndex/cd5c5be4-1000-4df8-8a68-5865a8c6d6e8.vsidx
/StructAssignment/.vs/StructAssignment/FileContentIndex/d8e3b723-e28f-4834-823e-f3fec9a8e031.vsidx
/LambdaExpressionAssignment/.vs/LambdaExpressionAssignment/FileContentIndex
/InputAssignment/.vs/InputAssignment/FileContentIndex/9f852016-7db7-4431-8955-475f36b96d12.vsidx
/DateTimeAssignment/.vs/DateTimeAssignment/FileContentIndex/fc136c35-5f98-40f0-97e0-084d39509c9a.vsidx
/ConstructorAssignment/.vs/ConstructorAssignment/FileContentIndex
/TryCatchAssignment/.vs/TryCatchAssignment/FileContentIndex/22b09624-52cc-4875-9b0f-c57f80682d5f.vsidx
/CarInsurance/.vs/CarInsurance/FileContentIndex
/ServerTime/.vs/ServerTime/FileContentIndex
/SchoolStudents/.vs/SchoolStudents/FileContentIndex
